* {
  margin:0 ;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  height: 100%;
  font-size: 16px;
}

body {
  background-image: url(logo.svg), -webkit-linear-gradient(top left, #007d35 0%, #007d35 40%, #0f574e 100%);
  min-height: 100%;
  background-position: center 5rem, center center;
  background-repeat:no-repeat;
  background-size: 25rem, 100% 100%;
  display: flex;
  align-items: flex-end;
}

button {
  background: -webkit-linear-gradient(top left, #007d35 0%, #007d35 40%, #0f574e 100%);

  background-size: cover;
  
  font-family: 'Staatliches', cursive;
  color:white;
  margin-top: 3rem;
  padding: 1rem 3rem;
  font-size: 2rem;
  border: 2px solid black;
}


button:hover {
  cursor:pointer;
  background-size:cover;
  animation-name: btn-hover;
  animation-duration: 2s;
  animation-direction: reverse;
}

#root {
  width: 100%;
}
.container {
  display: flex;
  align-items: center;
  padding-top: 10rem;
  flex-direction: column;
}

.quote {
  padding: 3rem;
  border-radius: .5rem;
  background-color: rgba(255,255,255,1);
  max-width:50rem;
}
.quote h1::before {
  content: open-quote;
  font-size:10rem;
  color: black;
  position: absolute;
  left: -1rem;
  top: -2rem;
}
.quote h1 {
  font-family: 'Staatliches', cursive;
  text-align:center;
  position: relative;
  padding-left: 4rem;
}
.quote p {
  font-family: 'Handlee', cursive;
  font-size: 1.6rem;
  color: #666;
  text-align:right; 
  margin-top: 2rem;
}

@keyframes btn-hover {
  from {
    background: -webkit-linear-gradient(top left, #007d35 0%, #007d35 40%, #0f574e 100%);
  }
  to{
    background: -webkit-linear-gradient(top right, #007d35 0%, #007d35 40%, #0f574e 100%);
  }
}

@media (min-width:768px) {
  body {
    align-items: center;
  }
}